body {
    margin: 0 auto;
    max-width: max-content;
    font-family: sans-serif;
}


table, td, th {  
    border: 1px solid rgb(175, 175, 175);
    text-align: left;
}
  
table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    padding: 15px;
}
  
h1 {
    text-align: center;
}